{
  "logging_level": {{ dhs_amwa_logging_level }},
  "label": "dhs-amwa-reference-node",
  "host_address": "{{ dhs_amwa_advertise_host }}",
  "host_addresses": ["{{ dhs_amwa_advertise_host }}"],
  "http_port": {{ dhs_amwa_port_node_http }},
  "events_ws_port": {{ dhs_amwa_port_node_ws }},
  "domain": "local",
  "how_many": {{ dhs_amwa_node_how_many }}
}
