{
  "pri": {{ dhs_amwa_registry_pri }},
  "logging_level": {{ dhs_amwa_logging_level }},
  "http_trace": false,
  "label": "dhs-amwa-reference-registry",
  "http_port": 80,
  "query_ws_port": 81,
  "registration_expiry_interval": {{ dhs_amwa_registry_expiry }}
}
