{
  "pri": {{ dhs_amwa_registry_pri }},
  "logging_level": {{ dhs_amwa_logging_level }},
  "http_trace": false,
  "label": "dhs-amwa-reference-registry",
  "host_address": "{{ dhs_amwa_advertise_host }}",
  "host_addresses": ["{{ dhs_amwa_advertise_host }}"],
  "http_port": {{ dhs_amwa_port_registry_http }},
  "query_ws_port": {{ dhs_amwa_port_registry_ws }},
  "registration_expiry_interval": {{ dhs_amwa_registry_expiry }}
}
